"*":
  "atom-ide-ui":
    hyperclick:
      darwinTriggerKeys: "ctrlKey"
    use:
      "atom-ide-diagnostics-ui": "never"
  core:
    disabledPackages: [
      "whitespace"
    ]
    packagesWithKeymapsDisabled: [
      "sort-lines"
    ]
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    useTreeSitterParsers: true
  docblockr:
    align_tags: "no"
  editor:
    preferredLineLength: 120
  "exception-reporting":
    userId: "23e0e5c3-dee6-400f-8b97-7e6c050a6fcb"
  "linter-ui-default": {}
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  welcome:
    showOnStartup: false
